@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top:50px" >
    <div class="slider_container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/cucumber.jpg" class="img-fluid" alt="...">
                    <div class="border_box"></div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/peanuts.jpg" class="img-fluid" alt="...">
                    <div class="border_box"></div>
                </div>
                <div class="carousel-item">
                    <img src="~/Images/wahoo.jpg" class="img-fluid" alt="...">
                    <div class="border_box"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="text-center" style="margin-top:70px">
    <h1 class="jumbotron-fluid" style= "font-family:'Bookman Old Style'" >This is the Eko Shop</h1>
    <p>
        Our intentions are to connect directly producers and consumers of ecological products. Like, everything! Grains and fruits,
        vegetables, but even jams, meat and much more. The only condition is to care about eating healthy and about the world we live in!
    </p>

    <p>Welcome!</p>
</div>