@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="jumbotron-fluid">This is the Eko Shop</h1>
    <p>Our intentions are to connect directly producers and consumers of ecological products. Like, everything! Grains and fruits, 
    vegetables, but even jams, meats and much more. The only condition is to care about eating healthy and about the world we live in! </p>
    
    <p>Welcome!</p>
</div>
