@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Webb App has no privacy whatsoever. It's just an exercize for us to learm how to develop a website, especially the back-end part. Feel absolutely free to copy anything, 
    but do that on your own responsability. </p>
